nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
n  overflow: hidden;
  font-style: normal;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav li {
  flex: 0 0 auto;

}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}
